*{
			padding: 0px;
			margin: 0px;
		}
		.Menu{
			width: 80%;
			height: 50px;
			margin: 10px auto;
			background: lightblue;
			border-radius: 10px;
		}
		.Menu ul.root{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		.sub{
			border-radius: 10px;	
		}
		.Menu ul.root >li{
			float: left;
			height: 50px;
			width: 20%;
			position: relative;
		}
		.Menu ul.root >li >input{
			display: block;
			height: 50px;
			text-decoration: none;
			color: black;
			line-height: 50px;
			text-align: center;
			width: 100%;
			border: none;
			border-radius: 10px;
			background-color: lightblue;
		}
		.Menu ul.root >li >input:hover{
			background-color: orange;
			border-radius: 10px;	
		}
		.Menu ul.root > li:hover > ul.sub{
			display: block;

		}
		.Menu ul.root > li > ul.sub{
			width: 100%;
			background-color: lightblue;
			position: absolute;
			top: 50px;
			left: 0px;
			display: none;
		}
		.Menu ul.root > li > ul.sub li{
			list-style: none;
		}
		.Menu ul.root > li > ul.sub li input{
			width: 100%;
			text-decoration: none;
			list-style: none;
			display: block;
			line-height: 50px;
			color: black;
			text-align: center;
			border-bottom: 1px solid white;
			border-radius: 10px;
			width: 100%;
			border: none;
			background-color: lightblue;
		}
		.Menu ul.root > li >ul.sub li input:hover{
			background-color: orange;
			border-radius: 10px;
		}
		.Menu ul.root > li >ul.sub li{
			position: relative;
			width: 100%;
			height: 50px;
		}
		.Search{
			width: 80%;
			margin: 10px auto;
		}
		.ElementSearch{
			width: 100%;
			/*background-color: red;*/
			/*margin: 100px auto;*/
		}
		.ElementSearch{
			width: 50%;
			margin: 0px auto;
		}
		.sub2{
			border-radius: 10px;	
			display: none;
			list-style: none;
			text-decoration: none;
			position: absolute;
			width: 100%;
			height: 150px;
			background-color: lightblue;
			left: 100%;
			top:0px;
		}
		.Menu ul.root > li >ul.sub li:hover .sub2{
			display: block;
		}

		/*.ql{
			width: 10%;
			background-color: red;
		}*/

		.Social{
            width: 80%;
            margin: 20px auto;
            height: 100px;
            
        }
        .Social > div{
            float: left;
            font-size: 20px;         
			line-height: 90px; 
			cursor: pointer;  
        }
        #signin{
            width: 20%;
            
            border: 2px solid black;
            border-radius: 10px;
        }
        /* #logout{
			float: right;
            text-align: center;
			width: 10%;
			border: 2px solid black;
            border-radius: 10px;
        } */
        #logo{
            width: 60%;
            text-align: center;
            /*background-color: red;*/
            font-family: NovaFlat-Regular;
        }
        #logo >input{
        	width: 100%;
        	font-size: 80px;
        	background-color: white;
        	border: none;

        	/*line-height: 50px;*/
        }
        #imgUser{
            height: 50px;
            vertical-align: middle;
        }		@font-face{
			src:url("font/NovaFlat-Regular.ttf");
			font-family: NovaFlat-Regular;
		}
		.qtv{
			width: 18%;
			float: right;
			
		}



		@font-face{
			src:url("font/Quicksand-VariableFont_wght.ttf");
			font-family: Quicksand;
		}

		.title{
			width: 100%;
			/*margin: 15px;*/
			font-style: italic;
			font-size: 25px;
			text-underline-position: under;
		}
		.itemfooter{
			width: 1200px;
			max-width: 100%;
			margin: 0px auto;
		}
		.itemrow{
			display: flex;
			margin-left: -5px;
			margin-right: -5px;


		}
		.itemcol{
			padding-left: 5px;
			padding-right: 5px;
			width: 25%;
		}

		footer{
			width: 100%;
			/*background-color: red;*/
			padding-top: 0px;
			margin-top: 0px;
			/*border-top: 2px solid black;*/
			/*margin-top: 700px;*/

		}
		.footerheading{
			text-transform: uppercase;
			font-size: 15px;
		}
		.itemrow ul li {
			padding-left: 0px;
			list-style: none;
		}
		.itemrow ul li a{
			text-decoration-line: none;
			font-size:15px;
			color: #737373;
			padding: 5px 0px; 
			display: block;
		}

		.itemrow ul li  a:hover{
			color: red;
		}
		.item{
			width: 20%;
			padding: 20px;
			margin: 10px;
			height: 300px;
			float: left;
			border-radius: 5px;
			border: 1px solid black;	
			transition-duration: 0.7s;
		}
		.item img{
			width: 100%;
			height: 250px;
		}
		.item > a{
			text-decoration: none;
			color: red;
			font-size: 20px;
		}
		.item:hover{
			background-color: lightblue;
			transform:scale(1.2);
		}
.itemSP > input{
	width: 100%;
	font-size: 20px;
	border: none;
	background-color: white;
	line-height: 40px;
}
  /*bo hai cai nay*/
		.content{
			width: 80%;			
			margin: 0px auto;
			/*display: inline-block;*/
			/*margin-left: calc(20% / 2);*/
		}
		.item{
			margin-bottom:20px;
			margin-right: 5px;
			margin-left: 5px;
			width: 23%;
			/*background-color: yellow;*/
			float: left;
			border-radius: 5px;
			border: 1px solid black;	
			transition-duration: 0.7s;
		}
		.item img{
			width: 100%;
		}
		.item > a{
			text-decoration: none;
			color: red;
			font-size: 20px;
		}
		.item:hover{
			background-color: lightblue;
			transform:scale(1.2);
		}
.NoiDung{
			width: 80%;
			margin: 10px auto;
			height: auto;
			font-size: 25px;
			text-indent: 25px;
		}
		.ListMenuDocGT{
			margin: 0px;
			padding: 0px;
			width: 23%;
			height: auto;
			float:left;
		}

		.ListMenuDocGT li:hover{
			background-color: orange;
		}
		.ListMenuDocGT li{
			list-style: none;
			border:1px inset black;
			background-color: lightblue;
		}
		.ListMenuDocGT li input{
			display: block;
			text-decoration: none;
			line-height: 80px;
			width: 100%;
			height: 70px;
			background-color: lightblue;
			border: none;
		}
		.ListMenuDocGT li input:hover{
			background-color: orange;
		}
		.contentGT{
			float: left;
			width: 75%;
			margin-left: 10px;
			min-height: 400px;
			/*background-color: red;*/
		}
		.titleGT{
			width: 100%;
			min-height: 50px;
			background-color: green;
			font-weight: bold;
			text-align: center;

		}
		.detailGT{
			width: 100%;
			min-height: 350px;
			background-color: tan;
		}
		.Order{
			font-size: 20px;
		}
		.Order #sapxep1{
			width: 50px;
			background: url(./img/sortU.png) no-repeat;
			background-position: center;
			background-size: 25px;
			border: none;
		}
		.Order #sapxep2{
			width: 50px;
			background: url(./img/sortD.png) no-repeat;
			background-position: center;
			background-size: 25px;
			border: none;
		}